<ion-view view-title="Contacts">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="chat in chats" type="item-text-wrap">
        <img ng-src="img/user.jpg">
        <h2>{{chat.name}}</h2>
        <p>{{chat.number}} {{ chat.carrier_name != null ? '('+chat.carrier_name+')' : '' }}</p>

      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="!noMoreItemsAvailable"
      icon="ion-loading-c"
      on-infinite="loadMore()"
      distance="10%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
